<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="DocumentDB" connectionString="EndpointUrl=https://odatatests.documents.azure.com:443/;AuthorizationKey=t1hdyo9J317ORBwsfpHo54ntPBWgpVR+G83/PVQy5Y3oN/D6/yfZo5yQD9czFgf1xw/AMuUlvv9RLbI1gTwvRw==;Database=Tests"/>
</connectionStrings>
